.form {
  display: flex;
  flex-direction: row;

}

.search-input {
  width: 300px;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
}

.search-button {
  width: 100px;
  height: 50px;
  border-radius: 11px;
  padding: 0 10px;
  font-size: 20px;
}